.footer {
    text-align: center;
    padding: 20px;
    /* background: #222; */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    color: #00bcd4;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
  